blis==0.4.1
certifi==2019.9.11
chardet==3.0.4
cymem==2.0.2
et-xmlfile==1.0.1
idna==2.8
jdcal==1.4.1
murmurhash==1.0.2
nltk==3.4.5
numpy==1.17.3
openpyxl==2.6.4
panda==0.3.1
pandas==0.24.2
plac==0.9.6
preshed==3.0.2
Pyphen==0.9.5
python-dateutil==2.8.0
pytz==2019.3
repoze.lru==0.7
requests==2.22.0
six==1.12.0
spacy==2.2.1
srsly==0.1.0
textstat==0.5.6
thinc==7.1.1
tokenizer==1.4.1
tqdm==4.36.1
urllib3==1.25.8
wasabi==0.3.0
xlrd==1.2.0
XlsxWriter==1.2.2
